---
import App from '../components/App';
import '../styles/global.css';
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="MiyuValkyrie - Twitch Streamer, Challenge-Runner, No-Hitter" />
    <title>MiyuValkyrie - Streamer Twitch / Challenge-Runner</title>
    <script>
      console.log('%c¡Ey, pero qué estás haciendo aquí?', 'font-size: 24px; font-weight: bold; color: #d4af37; text-shadow: 0 0 10px rgba(212, 175, 55, 0.5);');
      console.log('%c¿Esperas encontrar información?', 'font-size: 20px; font-weight: bold; color: #e5e5e5;');
      console.log('%cPatadas y lechuga, eso es todo lo que tendrás 🥬', 'font-size: 18px; font-weight: bold; color: #9146ff;');
    </script>
  </head>
  <body>
    <App client:load />
  </body>
</html>
